body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  text-transform: uppercase;
  color:#ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-image: url(https://lh3.googleusercontent.com/3ZMc0hOMkgDK5vsCyvAaHU-hGOiMzK4KbZQr3_ROjReRr6yrJ_SO2QSZPlY7pR6gH3R3A8YjU0G25O9W4XVe6zChqy6RUVibmFGoP3pwZRD3ZRItHX9KVGMTwuw67XRfiZgSk0IKmzKudK53FmUz_dUKMzgNiHAo9eRMQW1eU8WVQt-0S7sByCMCJFS7TBKEorWzaE1J5YX3H_ozMm1DAcIfUx4QE3X8xR9lcJQzshAGX_5WyF2N3W4NOtdv9jSYt4fIyIoQ6HjBE1TTJ6qODp_VwsVh3ZmWpwhE6UdrBXiaKq8sMBZ9g9b_ntEn14bvIk5Z34M-luz1rcWUOW2PRpicClhKscmkpLTIu__ctz5XG-XQcLD7KBzTBCny0P5cXsmOKTPAgvK1IfPad6T0hHnxSY51HGSY-V5IpNt57cFdje6dx2dq0Sf6iKoIBV2Di7DyTqsXPEK8C_GbGlJllyUuWMLNvQXhocHZmr7r6stPlaegdCjP-gRZ5Y8EXMEc1l3054Rmg79jb5G7imLWGKDkRWNQTOTtrkZ4XjXm2m6TDSoL59uM5Y414PbVPkQlwXd6zSzrcg5WuCBL0NjSHWocDfFWZWWFrGtOLX-A8j_YDEZoBl11acxPAMRz7tdjDyqJKBeypuOldPDzBqUtIFWua8YVrL4U=w1434-h1203-no);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#big-name{
  font-size: 8vw;
}

#content-wrapper{
  flex-grow: 1;

}

#content-wrapper a{
  text-decoration: none;
  color: #ffffff;
}

footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

header{
  padding-top: 20px;
}

#header-nav{
  padding: 5px;
  position: sticky;
  left:0;
  right:0;
}

#header-nav a{
  color:rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

#header-nav a:hover{
  color:#ffffff;
}

#header-nav li.selected>a{
  color:#ffffff;
}

#mobile-nav{
  padding: 5px;
  position: sticky;
  left:0;
  right:0;
}

#mobile-nav a{
  color:rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

#mobile-nav a:hover{
  color:#ffffff;
}

#mobile-nav li.selected>a{
  color:#ffffff;
}

#mobile-nav button{
  padding: 15px;
  color:#ffffff;
  text-decoration: none;
  border:none;
  background:none;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 12pt;
}

@media(max-width:599px){
  #header-nav{
    display: none;
  }

  #mobile-nav ul{
    display: none;
    list-style: none;
    padding: 0;
  }
  #mobile-nav ul{
    padding-bottom: 5px;
  }
}

@media(min-width: 600px){
  #header-nav ul{
    display: inline;
  }
  #header-nav li{
    display: inline;
    padding: 0 20px 0 20px;
  }

  #mobile-nav{
    display: none;
  }
}
