body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  text-transform: uppercase;
  color:#ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-color: #000000;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#home-page{
  background-image: url(https://lh3.googleusercontent.com/7tV-_ei63na_TW6JCPFXnOJ0rpCiKaoNPNjlmdwk3htyCxaF3YiKKvnBmMDeU6g1fP4qnGRb0b2NC-I6SKm60GkDQ1fvIBcN10K5ov9T0J92DqYJU8TPm1IVCNxgBf4dNkXobPtk-Y1-yCZtkzwNMbbf62JS9nRcvniuZsp0sPsULfD8fyrkeh8qjzy1Yn6wtGg-jPkv6BUsJAHb_zGoilOEqILOonR-pYBtOLHswzWdo7G0CcNBn1omgXN85DRH57gnxmCxUaNwKchsI8SseiXh0D2lSXhqCgAqjP5ubeF0RpBTzCV26IG7k7KG7XpUFKQCd3-i_iNJSrxEShl-8r6I_LOrbd6rhihk35O6tiJwm4YnEt1oDbWIrPt_rTYwMywn9hi6QBp2tDKB9SSkMnNC5rmzoKe4mZeEkWkuUd9kMmOW0ck-TDas6JEfw5Aflw4WJeBOExQfsUPaRBr6ezOF2xh-ELUDAFYucZq_H23uTYLmlbx4wx6ER_Pksxs7jej_j9K-9LyixpCBe1--BAgub-Hk3GGc2zd6vLPk48t3FZRoWL2b1RgL0EeDOXYyixbADAh4PqlF4L6jtl8K0_22BrEA6SPeLfiF4ViGKzg5xT_eyEYnekg7qw0kFCSiQlNt79Xl2LbrrtDN5Gd6wt8Pzr_zJtNA=w1217-h1008-no);
}

#bio-page{
  background-image: url(https://lh3.googleusercontent.com/fblkT5wT2NruXw1EHl4iPQVrmtnkbnSMIbG4mheD5fz5mLli5a8o41hEh_CURUGp6CQYCtiYj7i02M5tqCtpTbL72Mo5eCQsTgUEpjqCpwJc2ETUFLNUh-DhDjo4TgWJXCLAnNgigbJPFU8nMHSgY8MHZKdOtaYMAOEsZ6jZzAZ7SN7UWBpexlOV8yXdsgUT1R8kpd9rGMuHkkAfJnsX0LNKNujBPlzUGSxc_ipHKsvaImeY4x6d5VAxtY6M792KIC0cZHpBPYUZ688ChO5BOSkBZ4VuY8sj1N1Whyv4IYKzh7XqXwjRMmKd4ZjT_G0QMlzgnnPu1bnM2JfK6lHzBXfEEgibEclQqfVnvyhO_PIF6plYl0E7Bl_mHYDlHWEIw5c3H0Gz5_qJJSnonddghICkm20lC-Lecvngq5FcYNmEDT2cO7K0F3EUlGZ11nn95n999OWj95OUZq2OR_zp4R0M7Ymh8T5oMNY7JHe7pn-00qsXEdNDJdinZ54HvvUyZ6JKFPb2f2iys1mLsojpKOxWltJLWeMc6cNBwj4kcePNT4ayFRCXRa73aQdnxllGnSfGStOnDWJpAX1aTfMm-aVrFaWzotgGvzVc7mu_DkYAuuwTqn3CDsU5YY_o-701lNVjrxXTKaVchKPIQ5lQ3pBO6lkK-2CH=w1513-h1008-no);

}

#resume-page{
  background-image: url(https://lh3.googleusercontent.com/qvvMcm96ZPiR1U4rMrINMi4qWxyX7SiQ9tv4vZxJEhUnSO68P1H6DiWrI2S0rA9fajrUPzXhU4luNwscDu_HkewaGu0y0lBAcijaz_X-SGOs5hDBF4Qg1nNhZdxg68xfY3-JkEHQtDEanFOLDzzQwaKGE78nR7TSblMiGsEN7N3pTmmllxur2g-vSh4r1wSmBBUDF43Alj3U0S-OIcEEuxu6wsml9OtDZzm01edZyIja02PlmINj5_bqZbUoWME1gK2r2551dsugckEdAako9ZCLdf8sK-UrB5HzNZ4sqdWQjGYS72Y5D6Zc26CDiS1me1CjPiB3Xu-vmeSREcfk1nK9A3WA1U0cytp-DWwwm-ZjOkca81LTizpCeQOeOe7KaDgUw8siP7Z6_LjbRymkeBozafFIdkQEHjrRapLQ6QwO0mhfZYlultygCRZoIdqojCdfZcFCX3ZTeZ59bb-933yfVeMS6nALEViRLmuS6sZj8kQG5ndafEGIsn-Rrzyk98qSJuNVRS9LW2_IHURm1K1W9TnaMFSGFx0O2GsZL1VNuQvWiCesML7_kNnH2pBfLQXuotDnT_HidTtOM03OIL4uonrAhDHYmvdltTa_DnAIrwTiK1i4Oc6ODC8mD3GMm9XzhBddtTO8lJ3Ru5_PZePEbNTmHCjM=w1513-h1008-no);
}

#photos-page{
  background-image: url(https://lh3.googleusercontent.com/xRj7YqLIaD7acGg5ASO5quNA5W_GYS2typib6_vEavtbtTfydJgUctYN2jPQ7Y86agu3xORwa7_hO_0JC2eUtyfUwJZ9Q47JctZ7h0RHDB352rxsKIqNjyHwqR2H2TKhHjBggH7HfXvSmJhUqOYXi5eLgs4PrJlKXq79jQdXsjKZ6qLWH7xuALEBBHEfFXxwKwh2x9RzRTJA3uYL8ujNGErCxRAAwSNMBCNev2TLlPDZ8lZGghjYNAM3a9kr1qq_QFWkyR23eS_P_Ye-iVLIXNC619hWlg8oL8hVzA_malelgiwOBbt3Y-HLg-YhtKwvhQVnuF_K_l0_gDIfbe-Jg_9uM2Oh1YMNOhQr3_B9eNwkkHg67EB_FI2S8HiW8boxwrSYTQNi3NewsvGauOdn7ho4rslKhlqjEr9qF_Lh1wP518zAfZT9UAazb0PuGpwADt06au-iLzAYOKxP8qjiJg3YApkPh8iJxR8XO78ZAz4N6hKoqfQev-yMhVcxbmVIrSGwLyOfQfpyGg4CU3ZdiHRbX5X07CTwTVUrnF01k7n28qmU9uKk4eY4SOVSZSB5sMMObDBVnLnBbkw4yN4l3hN80yuYG0Q5DMW2jlm96FJ3Cj41lyy3huE9SX0-QuhaXHq2owN_mUX78cZf3pnaZs76Jl2Bb6Ha=w1239-h1057-no);
}

#big-name{
  padding-top: 6vw;
  font-size: 8vw;
}

#medium-name{
  padding-top: 1vw;
  font-size:6vw;
}

#content-wrapper{
  flex-grow: 1;

}

#content-wrapper a{
  text-decoration: none;
  color: #ffffff;
}

footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

header{
  padding-top: 20px;
}

#header-nav ul{
  list-style: none;
  padding:0;
  margin:0;
}

#header-nav{
  padding: 5px;
  position: sticky;
  left:0;
  right:0;
}

#header-nav a{
  color:rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

#header-nav a:hover{
  color:#ffffff;
}

#header-nav li.selected>a{
  color:#ffffff;
}

#mobile-nav{
  padding: 5px;
  position: sticky;
  left:0;
  right:0;
}

#mobile-nav a{
  color:rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

#mobile-nav a:hover{
  color:#ffffff;
}

#mobile-nav li.selected>a{
  color:#ffffff;
}

#mobile-nav button{
  padding: 15px;
  color:#ffffff;
  text-decoration: none;
  border:none;
  background:none;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 12pt;
}

@media(max-width:599px){
  #header-nav{
    display: none;
  }

  #mobile-nav ul{
    display: none;
    list-style: none;
    padding: 0;
  }
  #mobile-nav ul{
    padding-bottom: 5px;
  }
}

@media(min-width: 600px){
  #header-nav ul{
    display: inline;
  }
  #header-nav li{
    display: inline;
    padding: 0 20px 0 20px;
  }

  #mobile-nav{
    display: none;
  }
}

@media(min-width: 1000px){
  #subtitle-text{
    font-size: 2vw;
  }
}

#social-links ul{
  padding: 0;
  list-style: none;
}

#social-links li{
  display: inline;
  padding: 0 20px 0 20px;
  margin: 0;
}

#social-links a{
  text-decoration: none;
}

#bio-text, #resume-window{
  max-width: 90%;
  min-width: 50%;
  width: 65vh;
  display: inline-block;
  text-transform: none;
  text-align: justify;
}

@media (max-width: 599px){
  #resume-window{
    width: 400px;
  }
}

#resume-window{
  padding-top: 35px;
}
